.card {
  background-color: $bg-color-card;
  margin-bottom: $space-xs;
  @include border-radius($border-radius-large);
  @media (min-width: $screen-sm-min) {
    margin-bottom: $space-sm;
  }

  &.card-center {
    h1, h2, h3, h4, h5, h6, p, ul {
      text-align: center;
    }
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.card-right {
    h1, h2, h3, h4, h5, h6, img, p, ul {
      text-align: right;
    }
    img {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
