.card {
  background-color: $bg-color-card;
  margin-bottom: $space-xs;
  @include border-radius($border-radius-lg);
  @media (min-width: $screen-sm-min) {
    margin-bottom: $space-sm;
  }
  &.card-align-center {
    h1, h2, h3, h4, h5, h6, p, ul {
      text-align: center;
    }
    iframe {
      @extend .center-block;
    }
    img {
      margin-left: auto;
      margin-right: auto;
    }
    .media-left {
      display: inline;

      img {
        margin-bottom: 0;
      }
    }
  }
  &.card-align-left {
    h1, h2, h3, h4, h5, h6, img, p, ul {
      text-align: left;
    }
    .img-circle {
      border-bottom-left-radius: 0;
    }
  }
  &.card-align-right {
    h1, h2, h3, h4, h5, h6, img, p, ul {
      text-align: right;
    }
    img {
      margin-left: auto;
      margin-right: 0;
    }
    .img-circle {
      border-bottom-right-radius: 0;
    }
  }
  &.card-longform {
    p {
      font-size: 80%;
      letter-spacing: -0.02em;
      line-height: 1.3;
    }
  }
  article {
    padding: $space-lg $space-sm;
    @media (min-width: $screen-sm-min) {
      padding: $space-xl $space-lg;
    }
  }
  footer {
    padding: $space-sm $space-sm;
    @media (min-width: $screen-sm-min) {
      padding: $space-xs $space-lg;
    }
  }
  h1, h2, h3, h4, h5, h6, iframe, img, p, ul {
    margin: 0 0 $space-sm 0;
    @media (min-width: $screen-sm-min) {
      margin: 0 0 $space-md 0;
    }
  }
  header.header-img {
    position: relative;
    z-index: 1000;
    img {
      margin-bottom: 0;
      @include border-top-radius($border-radius-lg);
    }
    .header-fade {
      bottom: 0;
      height: 100px;
      position: absolute;
      width: 100%;
      @include gradient-vertical($start-color: rgba($bg-color-card,0.0), $end-color: rgba($bg-color-card,1.0), $start-percent: 0%, $end-percent: 80%);
      @media (min-width: $screen-sm-min) {
        height: 200px;
      }
    }
  }
  > img {
    @include border-radius($border-radius-lg);
  }
}
//
/****************** BANNER ******************/
.card-banner {
  article {
    padding-bottom: $space-md;
    @media (min-width: $screen-sm-min) {
      padding-bottom: $space-lg;
    }
    p, ul {
      font-size: $font-size-lg;
      line-height: $line-height-md;
    }
  }
  .btn {
    @extend .btn-block;
  }
}
//
/****************** COMMENT ******************/
.card-comment {
  article {
    padding-top: 0;
  }
  aside {
    padding-top: $space-lg;
  }
  h1 {
    letter-spacing: 0em;
    margin: -.1em 0 .4em;
    @include text-size ($font-size-h3);
    span {
      background-color: $white;
      padding: .1em .5em;
    }
  }
  header {
    padding-top: $space-xl;
    margin-bottom: -1.25em;
    .img-circle {
      border: none;
      margin-bottom: 8px;
      position: relative;
    }
  }
  section {
    font-weight: $font-weight-light;
    letter-spacing: -0.04em;
    line-height: $line-height-base;
    padding: $space-lg $space-sm;
    @include border-radius($border-radius-lg);
    @include text-size ($font-size-h3);
    @media (min-width: $screen-sm-min) {
      padding: $space-xl $space-lg;
    }
  }
}
//
/****************** LIST ******************/
.card-list {
  article {
    padding-bottom: $space-lg;
    padding-top: $space-lg;
  }
  h1 {
    bottom: 0;
    border-bottom: 1px solid $border-color;
    padding: 0 $space-sm $space-md;
    position: absolute;
    width: 100%;
    @include text-size ($font-size-h2);
    @media (min-width: $screen-sm-min) {
      padding: 0 $space-lg $space-md;
    }
  }
  h2 {
    font-family:  $font-family-text;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: $line-height-md;
    margin-bottom: .4em;
    text-transform: none;
    @include text-size ($font-size-h4);
  }
  header {
    margin-bottom: $space-lg * -1;
  }
  .media {
    border-bottom: 1px solid $border-color;
    color: rgba($white, 0.8);
    font-size: $font-size-base;
    margin-bottom: $space-md;
    padding-bottom: $space-xs;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .media-heading {
    color: rgba($white, 0.9);
  }
  .media-left {
    padding-right: $space-sm;
    a {
      display: block;
      width: 100%;
    }
    img {
      max-width: 90px;
    }
  }
}
//
/****************** PROMO ******************/
.card-promo {
  article {
    margin-top: -60px;
    min-height: 70px;
    padding-bottom: $space-md;
    padding-top: $space-md;
    position: relative;
    z-index: 1001;
    @media (min-width: $screen-sm-min) {
      margin-top: -100px;
      min-height: 110px;
    }
  }
  h1 {
    @include text-size ($font-size-h2);
  }
}
.card-promo-basic {

}
//
/****************** SCRIPTURE ******************/
.card-scripture {
  background-color: $blue-dark;
  article {
    font-weight: $font-weight-light;
    letter-spacing: -0.04em;
    line-height: $line-height-base;
    @include text-size ($font-size-h3);
  }
  h1 {
    @include text-size ($font-size-h2);
  }
}
//
/****************** VIDEO ******************/
.card-series-video {
  article {
    padding-bottom: 0;
    padding-top: 0;
  }
  h1 {
    @include text-size ($font-size-h2);
  }
  header {
    padding-top: $space-xl;
  }
}
