.list-sharing {
  -webkit-padding-start: 0;

  li {
    display: inline-block;
  }

  li a {
    margin: 32px 3px;
    padding: 0;
    display: inline-block;
    color: $link-color;
    @media (max-width: $screen-xs-max) {
      margin: 10px 0;
    }

    i {
      $base: 24px;
      $size: $base * 2;
      margin: 0;
      padding-top: ($base / 2) + 3px;
      font-size: $base;
      @include border-radius($size);
      width:  $size;
      height: $size;
      background: rgba($gray, 0.5);
      color: $white;
    }
    &:hover i {
      background: rgba($gray, 0.25);
    }
  }
}
