.list-sharing {
  -webkit-padding-start: 0;

  li {
    display: inline-block;
  }

  li a {
    color: $link-color;
    display: inline-block;
    margin: 3px 3px 9px 0;
    padding: 0;

    i {
      $base: 24px;
      $size: $base * 2;
      background: rgba($gray, 0.35);
      color: $white;
      font-size: $base;
      height: $size;
      margin: 0;
      padding-top: ($base / 2) + 3px;
      width:  $size;
      @include border-radius($size);
    }
    &:hover i {
      background: rgba($gray, 0.5);
    }
  }
}
