@mixin animate($property, $duration, $delay) {
  -webkit-transition: $property $duration $delay;
  -moz-transition:    $property $duration $delay;
  -o-transition:      $property $duration $delay;
  transition:         $property $duration $delay;
}

// Border radius
@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-bottom-radius($radius);
}

// Full width background image
@mixin card-bg($image-path, $bg-color: null) {
  background: image-url('#{$imgix_url}/#{$image-path}') no-repeat center top $bg-color;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$imgix_url}/#{$image-path}', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$imgix_url}/#{$image-path}', sizingMethod='scale')";
}

// Custom color for comment cards
@mixin card-comment-colors($header-color, $text-color, $bg-color) {
  background-color: $bg-color;
  section {
    background-color: mix(black, $bg-color, 8%);
    color: $text-color;
  }
  header h1 {
    color: $header-color;
  }
}

// Adujust text sizes for breakpoints
@mixin text-size ($font-size) {
  font-size: $font-size;

  @media (max-width: $screen-xs-max) {
    font-size: $font-size * .75;
  }
}
