@mixin animate($property, $duration, $delay) {
  -webkit-transition: $property $duration $delay;
  -moz-transition:    $property $duration $delay;
  -o-transition:      $property $duration $delay;
  transition:         $property $duration $delay;
}

// Retina bg images
@mixin bg-image-retina($image-path, $type, $width, $height, $xpos, $ypos) {
  background-image: image-url($image-path + '.' + $type);
  background-size:  $width $height;
  background-position: $xpos $ypos;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: image-url($image-path + '@2x.' + $type);
      -webkit-background-size:        $width $height;
      -moz-background-size:           $width $height;
      -o-background-size:             $width $height;
      background-size:                $width $height;

      -webkit-background-position:    $xpos $ypos;
      -moz-background-position:       $xpos $ypos;
      -o-background-position:         $xpos $ypos;
      background-position:            $xpos $ypos;
    }
  }
}

// Border radius
@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-bottom-radius($radius);
}

// Full width background image
@mixin card-bg($image-path) {
  background: image-url('#{$image-path}') no-repeat center top;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/#{$image-path}', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/#{$image-path}', sizingMethod='scale')";
}

@mixin header-size ($font-size) {
  font-size: $font-size;
  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    font-size: $font-size * .85;
  }
  @media (max-width: $screen-xs-max) {
    font-size: $font-size * .75;
  }
}
