// Variables & Setup
// **************************************************
// **************************************************

// GLOBAL VALUES
// --------------------------------------------------

// Config
$imgix_url:               '//crds-cms-uploads.imgix.net/content/images/second-screen';

// Grays
$black:                   rgba(#292726, 0.8);
$black-light:							#92939A;
$black-lighter:				  	lighten($black-light, 15%);
$black-dark:							darken($black-light, 5%);
$black-darker:						darken($black-light, 12%);
$white:                   #fff;

// Brand Colors
$blue:										#3a6e8f;
$blue-dark:								#143d63;
$cyan:										#7acaf4;
$cyan-dark:								#0093df;
$green:										#59afa8;
$green-dark:							#1a3734;
$orange:									#e3b161;
$orange-dark:							#bf5c04;
$yellow:									#fedc8c;
$yellow-dark:							#e09e04;

$bg-color:                #262626;
$bg-color-card:           #171717;

// Links
$link-color:							$cyan;
$link-color-hover:				lighten($link-color, 10%);

// Typography
$font-color:              $white;

$font-family-headline:    "acumin-pro-extra-condensed", Helvetica, Arial, sans-serif;
$font-family-text:        "acumin-pro", Helvetica, Arial, sans-serif;
$font-family-btn:         "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:          16px;
$font-size-lg:         		20px;
$font-size-md:       		 	18px;
$font-size-sm:         		14px;
$font-size-xs:         		11px;

$font-weight-light:       200; // $font-family-text
$font-weight-reg:         400; // $font-family-text
$font-weight-btn:         500; // $font-family-btn
$font-weight-semi:        600; // $font-family-headline
$font-weight-bold:        700; // $font-family-text

$font-size-h1:            floor(($font-size-base * 4.5));
$font-size-h2:            floor(($font-size-base * 3.25));
$font-size-h3:            ceil(($font-size-base * 2));
$font-size-h4:            ceil(($font-size-base * 1.4));
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85));

$line-height-base:        1.4;
$line-height-lg:          1.6;
$line-height-md:          1.25;
$line-height-sm:          1;

//Borders
$border-color:            rgba($white, 0.1);
$border-radius-sm:        4px;
$border-radius-lg:        8px;

// Spacing
$base:                    24px;
$space-xl:                $base * 3;
$space-lg:                $base * 1.5;
$space-md:                $base;
$space-sm:                $base * .8;
$space-xs:                $base * .4;
