<div class="card card-comment card-comment-spark card-longform card-align-center">
  <header>
    <%= imgix_tag 'comment-spark-mingo-img.jpg?w=100&h=100&fit=crop&mask=ellipse', width: 100, height: 100, class: 'img-responsive img-circle' %>
    <h1><span>Chuck Mingo</span></h1>
  </header>
  <article>
    <section>
      <p>Chuck is Campus Pastor of Crossroads Oakley. A native of Philadelphia, he now calls Cincinnati home and roots for the Bengals on occasion. Before Crossroads, he spent nine years in sales at P&G. He has been married to his wife, Maria, for 14 years, and they have three kids. Chuck loves his family, running, and most importantly, being part of what God is doing to transform Cincinnati through the Church.</p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-spark.png', width: 200, height: 90, class: 'img-responsive' %>
    </aside>
  </article>
</div>
