<div class="card card-comment card-comment-did-you-know card-align-center">
  <header>
    <h1><span>Andy Stanley</span></h1>
  </header>
  <article>
    <section>
      <p>Your friends determine the quality and direction of your life.</p>
    </section>
  </article>
</div>
