<div class="card card-banner card-banner-kids-club card-align-left">
  <article>
    <div class="row">
      <div class="col-sm-3">
        <%= imgix_tag 'banner-kids-club-img-2.png', width: 330, height: 268, class: 'img-responsive', alt: 'Kids Club' %>
      </div>
      <div class="col-sm-3">
        <h1>Crossroads Kids’ Club</h1>
        <p>Get this week’s lessons &amp; activities and do ‘em with your kids.</p>
        <p><%= link_to 'Learn More', 'http://crossroadskidsclub.net/anywhere/', class: 'btn btn-primary' %></p>
      </div>
    </div>
  </article>
</div>
