<div class="card card-scripture card-longform card-align-left">
  <article>
    <h1>Hebrews 10:24-25</h1>
    <p>And let us consider how to stir up one another to love and good works, not neglecting to meet together, as is the habit of some, but encouraging one another, and all the more as you see the Day drawing near.</p>
  </article>
</div>