<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-im-in-bg-2.jpg', class: 'img-responsive', alt: 'I’m In Campaign' %>
  </header>
  <article>
    <p>I’M IN is a three-year financial campaign for the Crossroads team. It’s a bold, risky mission to take enemy ground for the Kingdom. To broadcast a clear voice of truth through a barrage of lies. To bring spiritual and physical freedom to the oppressed. To run after our friends and neighbors, introducing them to a God that loves and pursues them. <b>No matter where He calls us, we’re in.</b></p>
    <p><%= link_to 'Learn More', 'http://imincampaign.net/', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
