<div class="card card-banner card-banner-text-us card-align-left">
  <article>
    <div class="row">
      <div class="col-sm-3">
        <%= imgix_tag 'banner-text-us-img.jpg', width: 330, height: 330, class: 'img-responsive', alt: 'Text Us: 513.402.0289' %>
      </div>
      <div class="col-sm-3">
        <h1>Have a Question? Need prayer? Just wanna say hi?</h1>
      </div>
    </div>
  </article>
</div>
