<div class="card card-banner card-banner-a card-align-left">
  <article>
    <div class="row">
      <div class="col-sm-3">
        <%= imgix_tag 'banner-a-img.jpg', width: 330, height: 330, class: 'img-responsive' %>
      </div>
      <div class="col-sm-3">
        <h1>Have a Question? Need prayer? Just wanna say hi?</h1>
        <p><%= link_to 'Learn More', '#', class: 'btn btn-primary' %></p>
      </div>
    </div>
  </article>
</div>
