<div class="card card-scripture card-align-left">
  <article>
    <h1>Proverbs 10:19</h1>
    <p>In the multitude of words sin is not lacking, but he who restrains his lips is wise.</p>
  </article>
</div>
