<div class="card card-banner card-banner-communion card-align-center">
  <article>
    <h1>Communion</h1>
    <p>A reminder for us of the sacrifice Jesus made.</p>
    <p>Jesus’ body broke for you.<br>Jesus’ blood shed for you.</p>
  </article>
</div>
