<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-together-message-intro-bg-2.jpg', class: 'img-responsive', alt: 'Together Series' %>
  </header>
  <article>
    <h1><small>Brian Tome on</small><br>“How to Be Together”</h1>
  </article>
</div>
