<div class="card card-list card-align-left">
  <article>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag 'list-a-img1.jpg', class: 'media-object' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'The Forgiveness Project: The Startling Discovery of How to Overcome Cancer, Find Health, and Achieve Peace', '#' %></h2>
        <p><%= lorem.paragraph %>...</p>
      </div>
    </div>
  </article>
</div>
