<div class="card card-scripture card-align-left">
  <article>
    <h1>Luke 1:53-55</h1>
    <p>...he has filled the hungry with good things, and the rich he has sent away empty. He has helped his servant Israel, in remembrance of his mercy, as he spoke to our fathers, to Abraham and to his offspring forever.</p>
  </article>
</div>
