<div class="card card-comment card-comment-together card-longform card-align-center">
  <header>
    <%= imgix_tag 'comment-together-nyt-img-2.jpg', width: 100, height: 100, class: 'img-responsive img-circle' %>
    <h1><span>Sherry Turkle</span></h1>
  </header>
  <article>
    <section>
      <p>“One 15-year-old I interviewed at a summer camp talked about her reaction when she went out to dinner with her father and he took out his phone to add ‘facts’ to their conversation. ‘Daddy,’ she said, ‘stop Googling. I want to talk to you.’ A 15-year-old boy told me that someday he wanted to raise a family, not the way his parents are raising him (with phones out during meals and in the park and during his school sports events) but the way his parents think they are raising him — with no phones at meals and plentiful family conversation. One college junior tried to capture what is wrong about life in his generation. ‘Our texts are fine,’ he said. ‘It’s what texting does to our conversations when we are together that’s the problem.’”</p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-together-1.png', width: 275, height: 90, class: 'img-responsive' %>
    </aside>
  </article>
</div>
