<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>CRANK UP THE VOLUME AND SING ALONG</h1>
    </div>
    <%= imgix_tag 'list-worship-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">I Will Not Be Consumed</h2>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Be Thou My Vision</h2>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">No Longer Slaves</h2>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Worthy of it All</h2>
      </div>
    </div>
  </article>
</div>
