<div class="card card-scripture card-longform card-align-left">
  <article>
    <h1>Ephesians 2:4-5</h1>
    <p>But God, being rich in mercy, because of the great love with which he loved us, even when we were dead in our trespasses, made us alive together with Christ—by grace you have been saved.</p>
  </article>
</div>