<div class="card card-banner card-banner-facebook card-align-center">
  <article>
    <h1>Find us on Facebook!</h1>
    <p>Search “Crossroads Anywhere on Facebook”</p>
    <p><%= link_to 'Join Group', 'https://www.facebook.com/groups/CrossroadsAnywhere', class: 'btn btn-primary btn-block' %></p>
  </article>
</div>
