<div class="card card-scripture card-align-left">
  <article>
    <h1>Genesis 1:28</h1>
    <p>And God blessed them. And God said to them, “Be fruitful and multiply and fill the earth and subdue it, and have dominion over the fish of the sea and over the birds of the heavens and over every living thing that moves on the earth.”</p>
  </article>
</div>
