<div class="card card-scripture card-align-left">
  <article>
    <h1>Proverbs 18:2</h1>
    <p>Fools find no pleasure in understanding but delight in airing their own opinions.</p>
  </article>
</div>
