<div class="card card-scripture card-align-left">
  <article>
    <h1>Luke 2:14</h1>
    <p>Glory to God in the highest, and on earth peace among those with whom he is pleased!</p>
    <div class="reflect">
      What is your definition of peace? What’s preventing you from finding peace in your life today?
    </div>
  </article>
</div>
