<div class="card card-banner card-banner-anywhere-welcome card-align-center">
  <article>
    <h1>Grab some coffee. Turn down the lights. Crank up the volume. This is gonna be sweet.</h1>
  </article>
</div>
