<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-uptown-open-bg-2.jpg', class: 'img-responsive', alt: 'Crossroads Uptown' %>
  </header>
  <article>
    <h1>Crossroads Uptown is now Open!</h1>
    <p>If you live in Uptown, join us on Sundays at 10:30am and 7:30pm.</p>
    <p><%= link_to 'Learn More', 'https://crossroads.net/uptown', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
