<div class="card card-comment card-comment-spark-schigel card-longform card-align-center">
  <header>
    <%= imgix_tag '_card-templates/comment-b-img.jpg?w=100&fit=clip', width: 100, height: 100, class: 'img-responsive img-circle' %>
    <h1><span>Tim Schigel</span></h1>
  </header>
  <article>
    <section>
      <p>Tim currently serves both as Chairman and Founder of ShareThis, based in Palo Alto, CA, and manages the $57 million Cintrifuse Syndicate Fund in Cincinnati. ShareThis is a global sharing platform that reaches over 700 million people monthly and was recognized as one of the “Most Promising Companies in America” by Forbes. In 2013, he was chosen as EY's Entrepreneur of the Year in the region. Tim has been married to his wife, Laura, for 26 years and has three grown children.</p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-spark.png', width: 200, height: 90, class: 'img-responsive' %>
    </aside>
  </article>
</div>
