<div class="card card-banner card-banner-anywhere-host card-align-center">
  <article>
    <h1>Be a host and invite your friends into the experience. No reverend title required. We’re all doing it, all over the world. Want to be an official host?</h1>
    <p><%= link_to 'Sign Up', 'https://crossroads.net/sign-up/anywherehost', class: 'btn btn-primary btn-block' %></p>
  </article>
</div>
