<div class="card card-promo card-align-left">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= image_tag 'promo-a-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <p><%= lorem.paragraph %></p>
    <p><%= link_to 'Learn More', '#', class: 'btn btn-primary' %></p>
  </article>
  <footer>
    <%= partial 'partials/list-sharing' %>
  </footer>
</div>
