<div class="card card-comment card-comment-spark card-longform card-align-left">
  <header>
    <h1></h1>
  </header>
  <article>
    <section>
      <p>
        <strong>tech·nol·o·gy</strong><br>
        tekˈnäləjē/<br>
        <i>noun</i><br>
      </p>
      <p><small>1. the application of scientific knowledge for practical purposes, especially in industry.</small></p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-spark.png', width: 200, height: 90, class: 'img-responsive' %>
    </aside>
  </article>
</div>
