<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-together-bg.jpg', class: 'img-responsive', alt: 'Upcoming Series: Together' %>
  </header>
  <article>
  </article>
</div>
