<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-unpolished-bg-2.jpg', class: 'img-responsive', alt: 'Unpolished' %>
  </header>
  <article>
    <h1>Sign up to Volunteer!</h1>
    <p>Unpolished is a high-octane conference created to engage, energize and inspire the entrepreneurial spirit. Want to get your hands dirty (not really) and volunteer at the conference?</p>
    <p><%= link_to 'Sign Up', 'https://form.jotform.com/61508986401156', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
