<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>Worship</h1>
    </div>
    <%= imgix_tag 'list-worship-bg-3.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Break Every Chain</h2>
        <p>This is music from and inspired by MAN CAMP. Like it? We’ll give you a link to download this one after service.</p>
      </div>
    </div>
  </article>
</div>
