<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-nicaragua-bg-2.jpg', class: 'img-responsive', alt: 'Compassion: Releasing children from poverty in Jesus’ name' %>
  </header>
  <article>
    <p>We believe we can positively impact the future of the second poorest country in our hemisphere. Nicaragua is Crossroads’ newest international initiative! To start, we’re partnering with Compassion International, a global leader in fostering healthy child development in some of the poorest areas of the world.</p>
    <p><%= link_to 'Learn More', 'https://www.crossroads.net/compassion', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
