<div class="card card-promo">
  <article>
    <div class="row">
      <div class="col-xs-12">
        <h1>Title</h1>
        <p><%= lorem.paragraph %></p>
        <%= partial 'partials/list-sharing' %>
      </div>
    </div>
  </article>

</div>
