<div class="card card-list card-align-left">
  <article>
    <div class="media">
      <div class="media-left">
        <a href="https://www.crossroads.net/message/3696/Male-Friendship" target="_blank">
          <%= imgix_tag 'list-wolf-pack-img-1.jpg', width: 90, height: 90, class: 'media-object', alt: 'Video: Wolf Pack, Male Friendship' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'Wolf Pack: Male Friendship', 'https://www.crossroads.net/message/3696/Male-Friendship', target:'_blank' %></h2>
        <p>Brian Tome talks about the importance of men having male friendships.</p>
      </div>
    </div>
  </article>
</div>
