<div class="card card-comment card-comment-a card-center">
  <header>
    <h1><span>Fact #112</span></h1>
  </header>
  <article>
    <p>Oakley has 83 bathrooms but I only end up in there when the cleaning staff is working.</p>
  </article>
  <footer>
  </footer>
</div>
