<div class="card card-scripture card-align-left">
  <article>
    <h1>James 1:5</h1>
    <p>If any of you lacks wisdom, you should ask God, who gives generously to all without finding fault, and it will be given to you.</p>
  </article>
</div>
