<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-go-india-bg-1.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <p><%= link_to 'Learn More', 'http://crossroadsgo.net/go/india/#trips', class: 'btn btn-primary' %></p>
  </article>
</div>
