<div class="card card-banner card-banner-prayer-fasting card-align-left">
  <article>
    <h1>a week of prayer and fasting</h1>
    <p><strong>August 15-19</strong></p>
    <p>For one whole week, we'll be praying and fasting for the upcoming ministry year–and we want you to be a part of it. It's a spiritual excercise to draw us closer to Him personally and collectively. We'll be doing two things: fasting from food or something else and praying at sites (and at home) during that time.
    <p><%= link_to 'Learn More', 'https://crossroads.net/prayerandfasting', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
