<div class="card card-promo01 card-center">
  <header>
    <div class="header-fade"></div>
    <%= image_tag 'promo01d-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <%= image_tag 'promo01d-video.jpg', class: 'img-responsive' %>
    <h1>Share This Video</h1>
    <%= partial 'partials/list-sharing' %>
  </article>
</div>
