<div class="card card-banner card-banner-giving card-align-center">
  <article>
    <h1>It’s generosity that fuels life change</h1>
    <p><%= link_to 'Be a Giver', 'https://www.crossroads.net/give', class: 'btn btn-primary btn-block' %></p>
  </article>
</div>
