<div class="card card-banner card-banner-communion card-align-center">
  <article>
    <h1>Later in service we are going to take communion together</h1>
    <p>That means you too! Grab whatever you have at hand: crackers, bread, water, wine... beer.</p>
  </article>
</div>
