<div class="card card-banner card-banner-survey card-align-center">
  <article>
    <h1>Survey Time!</h1>
    <p>Please give 3 minutes to tell us what you thought about the pilot of the second screen experience. It’s how we’re deciding where to go next. Thanks for your help!</p>
    <p><%= link_to 'Take the Survey', 'https://insights.hotjar.com/s?siteId=40732&surveyId=12889', class: 'btn btn-primary btn-block', target:'_blank' %></p>
  </article>
</div>
