<div class="card card-promo card-align-left">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-gonola-bg-3.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <p>We’ve found that when people leave their zip code and comfort zone, roll up their sleeves and get to work surprising things happen. This big church feels smaller. A passion for serving others is ignited. They have fun. They encounter God.</p>
    <p><%= link_to 'Learn More', 'http://crossroadsgo.net/go/new-orleans/', class: 'btn btn-primary' %></p>
  </article>
</div>
