<div class="card card-scripture card-align-left">
  <article>
    <h1>John 15:13-16</h1>
    <p>Greater love has no one than this, that someone lay down his life for his friends. You are my friends if you do what I command you. No longer do I call you servants, for the servant does not know what his master is doing; but I have called you friends, for all that I have heard from my Father I have made known to you. You did not choose me, but I chose you and appointed you that you should go and bear fruit.</p>
  </article>
</div>
