<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-groups-general-bg-1.jpg', class: 'img-responsive', alt: 'Get in a Group' %>
  </header>
  <article>
    <p>Groups are not A thing. They are THE thing. Search and find the right group. If you don’t see one that fits… maybe YOU should start one. We will share a link to the new group tool right after service.</p>
    <p><%= link_to 'Learn More', 'https://www.crossroads.net/groups', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
