<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>CRANK IT UP. AND SING ALONG.</h1>
    </div>
    <%= imgix_tag 'list-worship-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Be Strong</h2>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Made Alive</h2>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Closer</h2>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">One Thing Remains</h2>
      </div>
    </div>
  </article>
</div>
