<div class="card card-banner card-banner-text-us card-align-left">
  <article>
    <h1>Have a Question? Need prayer? Just wanna say hi?</h1>
    <p>Text us: <%= link_to '513.402.0289', 'tel:513-402-0289' %></p>
  </article>
</div>
