<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-ss-intro-bg.jpg', class: 'img-responsive', alt: 'Stage at Crossroads Oakley' %>
  </header>
  <article>
    <h1>Welcome to 2nd Screen!</h1>
    <p>Wait for it… We’ll get rolling when service starts.</p>
  </article>
</div>
