<div class="card card-comment card-comment-together card-longform card-align-center">
  <header>
    <%= imgix_tag 'comment-together-nyt-img-2.jpg', width: 100, height: 100, class: 'img-responsive img-circle' %>
    <h1><span>Kate Murphy</span></h1>
  </header>
  <article>
    <section>
      <p>“In the presence of a true friend, Dr. Banks said, the smart or modulating aspect of the vagus nerve is what makes us feel at ease rather than on guard as when we are with a stranger or someone judgmental. It’s what enables us to feel O.K. about exposing the soft underbelly of our psyche and helps us stay engaged and present in times of conflict. Lacking authentic friendships, the smart vagus nerve is not exercised. It loses tone and one’s anxiety remains high, making abiding, deep connections difficult.”</p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-together-1.png', width: 275, height: 90, class: 'img-responsive' %>
    </aside>
  </article>
</div>
