<div class="card card-comment card-comment-did-you-know card-align-center">
  <header>
    <h1><span>Did You Know?</span></h1>
  </header>
  <article>
    <section>
      <p>Smeeta Rangwani is the Director of Administration at Jeevan Aadhar. <a href="http://jeevan-aadhar.org/" target="_blank">Learn more.</a></p>
    </section>
  </article>
</div>
