<div class="card card-scripture card-align-left">
  <article>
    <h1>Matthew 2:3</h1>
    <p>When Herod the king heard this, he was troubled, and all Jerusalem with him.</p>
    <div class="reflect">
      Ironically, at Crossroads we say, “When Brian Tome ain’t happy, ain't nobody happy.”
    </div>
  </article>
</div>
