<div class="card card-scripture card-align-left">
  <article>
    <h1>Luke 16:9</h1>
    <p>And I tell you, make friends for yourselves by means of unrighteous wealth, so that when it fails they may receive you into the eternal dwellings.</p>
  </article>
</div>
