<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-business-of-success-bg-3.jpg', class: 'img-responsive', alt: 'The Business of Success Series' %>
  </header>
  <article>
    <h1>God cares about your success</h1>
    <p>We spend more time on work than anything else. It’s crazy to think God doesn’t care about the results. God wants you to be successful. He wants you to thrive every day. Are you stuck feeling guilty for success or worried that your work isn’t important?</p>
    <p>Come join us as we talk business from God’s perspective—the business of success.</p>
  </article>
</div>
