<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>Going Deeper</h1>
    </div>
    <%= imgix_tag '_card-templates/list-a-bg.jpg', class: 'img-responsive' %>

  </header>
  <article>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">God MAKES peace. He doesn’t wait for it to happen.</h2>
        <p>How can you proactively create peace in your life?</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Peace is not the absence of conflict.</h2>
        <p>Are you ready to wade into family drama in the pursuit of true peace? How can you intentionally push for peace at your family table? </p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Peace is practicing the purposeful presence of God.</h2>
        <p>What actions can you take to make this happen?</p>
      </div>
    </div>
  </article>
</div>
