<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-baptism-bg-2.jpg', class: 'img-responsive', alt: 'Baptism' %>
  </header>
  <article>
    <h1>Baptism</h1>
    <p>You can get baptized wherever you are, with your own community!</p>
    <p><%= link_to 'Email Us', 'mailto:anywhere@crossroads.net?subject=Baptism%20(2nd%20Screen)', class: 'btn btn-primary' %></p>
  </article>
</div>
