<div class="card card-comment card-comment-finding-peace card-longform card-align-center">
  <header>
    <h1><span>Shalom</span></h1>
  </header>
  <article>
    <section>
      <p>When shalom is best translated as “peace,” this peace is more than the mere absence of war or strife. It describes a peace that is positive; a time, place, and condition that features love, righteousness, calmness, political and moral uprightness and much more. It is a word reserved for those who walk with God in a positive relationship.</p>
      <p><cite>– Carpenter, E. E., &amp; Comfort, P. W. (2000). In Holman treasury of key Bible words: 200 Greek and 200 Hebrew words defined and explained (p. 135). Nashville, TN: Broadman &amp; Holman Publishers.</cite></p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-finding-peace-1.png', width: 115, height: 115, class: 'img-responsive' %>
    </aside>
  </article>
</div>
