<div class="card card-promo01 card-center">
  <header>
    <div class="header-fade"></div>
    <%= image_tag 'promo01c-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <p>
      <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
    </p>
  </article>
</div>
