<div class="card card-scripture card-align-left">
  <article>
    <h1>Matthew 2:16</h1>
    <p>When Herod realized that he had been outwitted by the Magi, he was furious, and he gave orders to kill all the boys in Bethlehem and its vicinity who were two years old and under, in accordance with the time he had learned from the Magi. </p>
  </article>
</div>
