<div class="card card-series-video card-series-video-a card-align-center">
  <header>
    <%= image_tag 'series-logo.png', class: 'img-responsive' %>
  </header>
  <article>
    <%= image_tag 'series-video-img.jpg', class: 'img-responsive' %>
    <h1>Share This Video</h1>
  </article>
  <footer>
    <%= partial 'partials/list-sharing' %>
  </footer>
</div>
