<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= image_tag 'promo-c-bg.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <p><%= link_to 'Learn More', '#', class: 'btn btn-primary' %></p>
  </article>
</div>
