<div class="card card-banner card-banner-prayer card-align-center">
  <article>
    <h1>Need Prayer?</h1>
    <p><%= link_to 'Email Us', 'mailto:prayer@crossroads.net?subject=Prayer%20Request%20(2nd%20Screen)', class: 'btn btn-primary btn-block' %></p>
  </article>
</div>
