<div class="card card-promo card-align-left">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-compassion-experience-bg-5.jpg', class: 'img-responsive', alt: 'The Compassion Experience: Change the Story' %>
  </header>
  <article>
    <p>Get a glimpse into the life of a child’s life in a third world country. Where they live, what they eat and how sponsorship can change their reality.</p>
    <p>
      <b>Join us at Florence, Mason, Oakley and West Side sites:</b><br>
      Thursday - Saturday 12-8 pm<br>
      Sunday 1-9 pm<br>
      Monday 12-8 pm<br>
    </p>
  </article>
</div>
