<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-groups-bg-1.jpg', class: 'img-responsive', alt: 'Lead a Group' %>
  </header>
  <article>
    <p>We are getting into groups so more people can experience life change. For groups to be good, we need leaders. That means YOU!</p>
    <p><%= link_to 'Learn More', 'https://www.crossroads.net/groups', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
