<div class="card card-list card-align-left">
  <article>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= imgix_tag 'list-coldplay-img.jpg', width: 90, height: 90, class: 'media-object', alt: 'Album: Coldplay - A Head Full of Dreams' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">Current Song: Adventure of a Lifetime</h2>
        <p>Coldplay - A Head Full of Dreams</p>
      </div>
    </div>
  </article>
</div>
