<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-spark-bg.jpg', class: 'img-responsive', alt: 'Spark: Ideas to ignite your life' %>
  </header>
  <article>
    <p><%= link_to 'Learn More', 'http://www.crossroads.net/spark', class: 'btn btn-primary' %></p>
  </article>
  <footer>
    <%= partial 'partials/list-sharing', locals:{ facebook:'#', twitter: '#', email: 'mailto:'} %>
  </footer>
</div>
