<div class="card card-comment card-comment-did-you-know card-align-center">
  <header>
    <h1><span>Did You Know?</span></h1>
  </header>
  <article>
    <section>
      <p>Dr. Rev. Ezekiel Mathole is the Head of Ministry Development at Grace Bible Church, one of our partners in South Africa. <a href="http://gracebiblechurch.org.za/" target="_blank">Learn more.</a></p>
    </section>
  </article>
</div>
