<div class="card card-comment card-comment-did-you-know card-align-center">
  <header>
    <h1><span>Did You Know?</span></h1>
  </header>
  <article>
    <section>
      <p>Crossroad’s Director of Justice, Don Gerred, has been living and working in Nepal for the last year.</p>
    </section>
  </article>
</div>
