<div class="card card-comment card-comment-together card-longform card-align-center">
  <header>
    <%= imgix_tag 'comment-together-deresiewicz-img-1.jpg', width: 100, height: 100, class: 'img-responsive img-circle' %>
    <h1><span>William Deresiewicz</span></h1>
  </header>
  <article>
    <section>
      <p>“We have ceased to believe that a friend's highest purpose is to summon us to the good by offering moral advice and correction. We practice, instead, the nonjudgmental friendship of unconditional acceptance and support—"therapeutic" friendship, in Robert N. Bellah's scornful term. We seem to be terribly fragile now. A friend fulfills her duty, we suppose, by taking our side—validating our feelings, supporting our decisions, helping us to feel good about ourselves. We tell white lies, make excuses when a friend does something wrong, do what we can to keep the boat steady. We're busy people; we want our friendships fun and friction-free.”</p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-together-1.png', width: 275, height: 90, class: 'img-responsive' %>
    </aside>
  </article>
</div>
