<div class="card card-scripture card-longform card-align-left">
  <article>
    <h1>Jeremiah 17:9</h1>
    <p>The heart is deceitful above all things and beyond cure. Who can understand it?</p>
  </article>
</div>
