<div class="card card-banner card-banner-anywhere-gather card-align-center">
  <article>
    <h1>Thanksgiving service</h1>
    <p>Holiday life gets hectic. How about a little peace? Gather together and watch the live stream.</p>
    <p><strong>Wednesday, November 23rd at 7pm</strong></p>
  </article>
</div>
