<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-man-camp-bg-1.jpg', class: 'img-responsive', alt: 'Man Camp' %>
  </header>
  <article>
    <p><%= link_to 'Learn More', 'https://www.crossroads.net/mancamp', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
