<div class="card card-banner card-banner-thanksgiving card-align-center">
  <article>
    <h1>Thanksgiving,<br>The perfect time to reflect and to be the church</h1>
    <p><%= link_to 'See how you can help', 'https://www.crossroads.net/reachout/', class: 'btn btn-primary' %></p>
  </article>
</div>
