<div class="card card-banner card-banner-kids-club card-align-left">
  <article>
    <div class="row">
      <div class="col-sm-3">
        <%= imgix_tag 'banner-kids-club-img.png', width: 330, height: 268, class: 'img-responsive', alt: 'Kids Club' %>
      </div>
      <div class="col-sm-3">
        <h1>Got kids?</h1>
        <p>Go to Crossroads Kids Club for videos and lesson plans that jive with today’s message. </p>
        <p><%= link_to 'Learn More', 'http://crossroadskidsclub.net/anywhere/', class: 'btn btn-primary btn-block', target:'_blank' %></p>
      </div>
    </div>
  </article>
</div>
