<div class="card card-banner card-banner-kids-club card-align-left">
  <article>
    <div class="row">
      <div class="col-sm-3">
        <%= imgix_tag 'pilot-weekend1-banner-kids-club-img.jpg', class: 'img-responsive', alt: 'Kids Club' %>
      </div>
      <div class="col-sm-3">
        <h1>Crossroads Kids’ Club, an experience just for kids.</h1>
        <p>We have resources and activities you can do with your kids.</p>
        <p><%= link_to 'Learn More', 'http://crossroadskidsclub.net/anywhere/', class: 'btn btn-primary' %></p>
      </div>
    </div>
  </article>
</div>
