<div class="card card-comment card-comment-together card-longform card-align-center">
  <header>
    <%= imgix_tag 'comment-together-nyt-img-2.jpg', width: 100, height: 100, class: 'img-responsive img-circle' %>
    <h1><span>Sherry Turkle</span></h1>
  </header>
  <article>
    <section>
      <p>“In a 2015 study by the Pew Research Center, 89 percent of cellphone owners said they had used their phones during the last social gathering they attended. But they weren’t happy about it; 82 percent of adults felt that the way they used their phones in social settings hurt the conversation.”</p>
      <p><%= link_to 'See the Study', 'http://www.pewinternet.org/files/2015/08/2015-08-26_mobile-etiquette_FINAL.pdf', class: 'btn btn-primary', target:'_blank' %></p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-together-1.png', width: 275, height: 90, class: 'img-responsive' %>
    </aside>
  </article>
</div>
