<div class="card card-banner card-banner-survey card-align-center">
  <article>
    <h1>Survey Time! Thanks for participating in the pilot of second screen experience. We would really appreciate your feedback so we can determine what comes next. Please give us 3 minutes.</h1>
    <p><%= link_to 'Take the Survey', 'https://insights.hotjar.com/s?siteId=40732&surveyId=12010', class: 'btn btn-primary btn-block' %></p>
  </article>
</div>
