<div class="card card-scripture card-longform card-align-left">
  <article>
    <h1>Genesis 1:26-27</h1>
    <p>Then God said, “Let us make man in our image, after our likeness. And let them have dominion over the fish of the sea and over the birds of the heavens and over the livestock and over all the earth and over every creeping thing that creeps on the earth.” So God created man in his own image, in the image of God he created him; male and female he created them.</p>
  </article>
</div>
