<div class="card card-banner card-banner-anywhere-host card-align-center">
  <article>
    <h1>You can be a host. No reverend title required. Friends are gathering all over the world. Maybe yours can gather at your place?</h1>
    <p><%= link_to 'Sign Up', 'https://crossroads.net/sign-up/anywherehost', class: 'btn btn-primary btn-block' %></p>
  </article>
</div>
