<div class="card card-scripture card-align-left">
  <article>
    <h1>Ephesians 2:13-14</h1>
    <p>But now in Christ Jesus you who once were far off have been brought near by the blood of Christ. For he himself is our peace…</p>
  </article>
</div>
