<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-finding-peace-bg-1.jpg', class: 'img-responsive', alt: 'Finding Peace' %>
  </header>
  <article>
    <p><%= link_to 'Learn More', '#', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
