<div class="card card-promo card-center">
  <article>
    <div class="row">
      <div class="col-xs-12">
        <div class="image">
          <%= image_tag 'img-fpo.jpg', class: 'img-responsive' %>
        </div>

        <h1>Title</h1>
        <p><%= lorem.paragraph %></p>
        <%= partial 'partials/list-sharing' %>
      </div>
    </div>
  </article>

</div>
