<div class="card card-banner card-banner-thanksgiving card-align-center">
  <article>
    <h1>The perfect time to be the church</h1>
    <p>See how you can help this Thanksgiving.</p>
    <p><%= link_to 'Learn More', 'https://www.crossroads.net/reachout/', class: 'btn btn-primary' %></p>
  </article>
</div>
