<div class="card card-comment card-comment-b card-center">
  <header>
    <%= image_tag 'comment-b-img.jpg', class: 'img-responsive img-circle' %>
    <h1><span>Chuck Mingo</span></h1>
  </header>
  <article>
    <p>“There are things in this life that we are meant to master, and they’re mastering us.”</p>
    <%= partial 'partials/list-sharing' %>
  </article>
  <footer>
    <%= image_tag 'series-logo.png', class: 'img-responsive' %>
  </footer>
</div>
