<div class="card card-comment card-comment-finding-peace card-longform card-align-center">
  <header>
    <h1><span>Conflict</span></h1>
  </header>
  <article>
    <section>
      <p><strong>Peace is not the absence of conflict.</strong></p>
      <p>Are you ready to wade into family drama in the pursuit of true peace? How can you intentionally push for peace at your family table?<p>
      <p>How do you feel about Crossroads expansion and growth?</p>
    </section>
    <aside>
      <%= imgix_tag 'series-logo-finding-peace-1.png', width: 115, height: 115, class: 'img-responsive' %>
    </aside>
  </article>
</div>
