<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'promo-business-of-success-bg-3.jpg', class: 'img-responsive', alt: 'The Business of Success Series' %>
  </header>
  <article>
    <h1>God cares about your success</h1>
    <p>We spend more time working than doing anything else, but we think God doesn't care about the results. That's crazy. God wants us to be successful. He wants us to thrive every day. But we're stuck feeling guilty for success or worried that our work isn't important.</p>
    <p>Come join us as we talk about business from God's perspective—the business of success.</p>
  </article>
</div>
