<div class="card card-scripture card-align-left">
  <article>
    <h1>Job 25:2</h1>
    <p>Dominion and fear are with God; he makes peace in his high heaven.</p>
    <hr class="spacer spacer-lg">

    <h1>Isaiah 45:7</h1>
    <p>I form light and create darkness; I make well-being [shalom] and create calamity; I am the Lord, who does all these things.</p>
    <div class="reflect">
      God MAKES peace. He doesn’t wait for it to happen. Can you find peace in accepting God’s power and authority? How can you proactively create peace in your life?
    </div>
  </article>
</div>
