<div class="card card-promo card-align-center">
  <header class="header-img">
    <div class="header-fade"></div>
    <%= imgix_tag 'pilot-weekend1-promo-spark-bg.jpg', class: 'img-responsive', alt: 'Spark: Ideas to ignite your life' %>
  </header>
  <article>
    <p><%= link_to 'Learn More', 'http://www.crossroads.net/spark', class: 'btn btn-primary' %></p>
  </article>
</div>
