<div class="card card-scripture card-align-left">
  <article>
    <h1>Isaiah 54:10</h1>
    <p>For the mountains may depart and the hills be removed, but my steadfast love shall not depart from you, and my covenant of peace shall not be removed,” says the Lord, who has compassion on you.</p>
  </article>
</div>
