<div class="card card-list card-align-left">
  <article>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= imgix_tag 'list-alone-together-img1.jpg', width: 90, height: 135, class: 'media-object', alt: 'Book: Alone Together' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'Alone Together: Why We Expect More From Technology and Less From Each Other', 'http://alonetogetherbook.com/' %></h2>
        <p>Sherry Turkle: MIT Psychologist and author</p>
      </div>
    </div>
  </article>
</div>
