<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>Worship</h1>
    </div>
    <%= imgix_tag 'list-worship-bg-2.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Lord of All</h2>
        <p>This is a song written by Hillsong Church. They started in Australia back in 1992 and have since produced hundreds of Christian songs on over 50 album.</p>
      </div>
    </div>
  </article>
</div>
