<div class="card card-banner card-banner-anywhere-facebook card-align-center">
  <article>
    <h1>We have a Crossroads Anywhere Facebook Group</h1>
    <p><%= link_to 'Join Us', 'https://www.facebook.com/groups/CrossroadsAnywhere', class: 'btn btn-primary btn-block', target:'_blank' %></p>
  </article>
</div>
