<div class="card card-list card-align-left">
  <header class="header-img">
    <div class="header-fade">
      <h1>Worship</h1>
    </div>
    <%= imgix_tag 'list-worship-bg-1.jpg', class: 'img-responsive' %>
  </header>
  <article>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Be Strong</h2>
        <p>"Be Strong" is Crossroads original song created for the Strong Challenge in 2011.</p>
      </div>
    </div>
  </article>
</div>
