<div class="card card-banner card-banner-anywhere-welcome card-align-center">
  <article>
    <h1>Break Every Chain</h1>
    <p><%= link_to 'Download this Song', 'https://www.crossroads.net/media/5996/Break-Every-Chain', class: 'btn btn-primary', target:'_blank' %></p>
  </article>
</div>
