<ul class="list-sharing">
  <li><a href="#"><i class="fa fa-facebook fa-lg fa-fw"><span class="sr-only">Facebook</span></i></a></li>
  <li><a href="#"><i class="fa fa-twitter fa-lg fa-fw"><span class="sr-only">Twitter</span></i></a></li>
  <li><a href="#"><i class="fa fa-envelope fa-lg fa-fw"><span class="sr-only">Email</span></i></a></li>
</ul>
