<div class="card card-scripture card-align-left">
  <article>
    <h1>James 4:5-6</h1>
    <p>Or do you think Scripture says without reason that he jealously longs for the spirit he has caused to dwell in us? But he gives us more grace. That is why Scripture says, “God opposes the proud but shows favor to the humble.”</p>
  </article>
</div>
