<div class="card card-list card-align-left">
  <article>
    <div class="media">
      <div class="media-left">
        <a href="#" target="_blank">
          <%= imgix_tag '_card-templates/list-a-img1c.jpg', class: 'media-object' %>
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= link_to 'The Forgiveness Project: The Startling Discovery of How to Overcome Cancer, Find Health, and Achieve Peace', '#', target:'_blank' %></h2>
        <p><%= lorem.paragraph %>...</p>
      </div>
    </div>
  </article>
</div>
