---
title: Crossroads Second Screen
---

<main>
  <div class="container">
    <%= partial 'partials/card-promo01d' %>
    <%= partial 'partials/card-promo01c' %>
    <%= partial 'partials/card-promo01b' %>
    <%= partial 'partials/card-promo01a' %>
  </div>
</main>
